.container {
  background-color: blueviolet;
}
header {
  background-color: cornflowerblue;
}
.head-logo {
  background-color: deeppink;
}

.Text-container {
  background-color: chartreuse;
}
.sab-text {
  background-color: antiquewhite;
}

.main-text {
  background-color: aqua;
}
.bottom-text {
  background-color: aquamarine;
}
.bottom-img {
  background-color: brown;
}
.container-cracker-sp {
  background-color: blue;
}
.container-3-class {
  background-color: aqua;
}

/* .attention-text-1 {
  background-color: brown;
} */

.container-4 {
  background-color: chartreuse;
}
.lineup-img-div {
  background-color: chocolate;
}
.lineup-img-centerdiv {
  background-color: blue;
}
.product-div {
  background-color: violet;
}
.product-div-center {
  background-color: cornflowerblue;
}
.attention-div {
  background-color: blueviolet;
}
.attention-text-div-1 {
  background-color: chocolate;
}
