/* 幅1920px 変更しました*/
@charset "utf-8";

@font-face {
  font-family: "MyFont";
  src: url(/font/Silom.ttf);
}

html,
body {
  padding: 0;
  margin: 0;
  width: 1920px;
  font-family: "MyFont";
}
* {
  margin: 0;
  padding: 0;
}

a {
  color: #000;
  text-decoration: none;
}
/* 各画像の大きさ指定 */
img {
  vertical-align: bottom;
}
img.creaker {
  width: auto;
  height: 450px;
}
img.background-img {
  height: auto;
}
.binbou {
  width: 635px;
  height: auto;
}

.container {
  max-width: 1920px;
  padding: 0;
  margin: 0;
}

/* ヘッダー */
header {
  width: 100%;
  height: 100px;
  min-height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  position: relative;
  border-bottom: rgb(66, 66, 66);
}
header > .container-header {
  width: 100%;
  height: 100%;
  position: relative;
  border-bottom: rgb(66, 66, 66);
}
.head-logo {
  width: 133px;
  height: 69px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 35px;
}
.img-logo {
  width: 133px;
  height: auto;
}

/* クラッカーのコンテナ */
.container.top {
  display: flex;
  max-width: 100%;
}

.left-cracer-container {
  position: relative;
}
.cracer-img-1 {
  position: absolute;
  top: 489px;
}
.cracer-img-2 {
  position: absolute;
  top: 489px;
}
.cracer-img-3 {
  position: absolute;
  top: 489px;
}

.right-cracer-container {
  position: relative;
}
.right-cracer-img-1 {
  position: absolute;
  top: 489px;
  left: 1284px;
}
.right-cracer-img-2 {
  position: absolute;
  top: 489px;
  left: 1284px;
}
.right-cracer-img-3 {
  position: absolute;
  top: 489px;
  left: 1284px;
}

/* トップの文字 */
.Text-container {
  width: 770px;
  height: 970px;
  margin: 0 auto;
}
.sab-text {
  text-align: center;
  padding-top: 232px;
  padding-bottom: 121px;
}
.main-text {
  text-align: center;
}
.sabText {
  font-size: 60px;
}
.mainText {
  font-size: 153px;
}

/* メイン画像画面 */
.container.main {
  width: 100%;
  height: 2360px;
  position: relative;
}
.main-img-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.main-img-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/* 一番下文字と貧乏ちゃん */
.bottom-text {
  margin: 0 auto;
  width: 900px;
  height: 269px;
}
.bottomText {
  font-size: 98px;
}

.bottom-img {
  text-align: center;
}
