@charset "UTF-8";
@media screen and (max-width: 480px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  h2,
  h3,
  span,
  a {
    font-family: "ヒラギノ丸ゴ ProN";
  }
  ul li:nth-of-type(n + 2) {
    display: none;
    list-style: none;
  }
  li {
    list-style: none;
  }
  .container-header {
    height: 16vw;
    width: 100%;
    position: relative;
  }
  .head-logo {
    width: 32vw;
    height: auto;
    position: absolute;
    top: 50%;
    left: 15px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .s-logo {
    width: 26.66667vw;
  }
  .container-cracker-sp {
    width: 100%;
    height: 133.33333vw;
    position: relative;
  }
  .right-cracer-img-sp {
    position: relative;
    width: 100%;
  }
  .creaker-blue.sp {
    padding-top: 5.33333vw;
    position: absolute;
    padding-left: 68vw;
    text-align: right;
    width: 32vw;
  }
  .cracer-img-sp {
    width: 47.73333vw;
  }
  .crekaer-red.sp {
    padding-top: 5.33333vw;
    width: 32vw;
  }
  .sab2-Text {
    text-align: center;
    font-size: 9.33333vw;
    padding-top: 10.66667vw;
  }
  .sab-text {
    text-align: center;
    padding-top: 5.33333vw;
  }
  .main-text {
    text-align: center;
    padding-top: 4.53333vw;
  }
  .sabText {
    font-size: 5.6vw;
  }
  .mainText {
    font-size: 18.13333vw;
  }
  .sele-div {
    padding-top: 6.4vw;
  }
  .ReservationButton {
    padding-top: 16vw;
    padding-bottom: 8vw;
    padding-left: 11.46667vw;
  }
  .select-div {
    padding-top: 6.4vw;
  }
  .btn {
    width: 72vw;
    font-size: 6.4vw;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 0 10px;
    background-color: #a9f3ff;
    border-radius: 25px;
    -webkit-box-shadow: 4px 4px #2f3d5e;
            box-shadow: 4px 4px #2f3d5e;
  }
  .container-3-class {
    height: 146.66667vw;
    border-top: 1px solid #000;
  }
  .orders-color {
    color: #707070;
  }
  .OrdersReceived {
    font-size: 13.33333vw;
    text-align: center;
    padding-top: 10.66667vw;
  }
  .order-day-1 {
    font-size: 13.33333vw;
    padding-top: 13.33333vw;
    padding-left: 9.86667vw;
  }
  .order-day-2 {
    font-size: 13.33333vw;
    padding-top: 9.33333vw;
    padding-left: 33.86667vw;
  }
  .order-day-3 {
    font-size: 8vw;
    padding-left: 33.86667vw;
  }
  .attention-text-1 {
    width: 61.6vw;
    padding-left: 19.2vw;
    padding-top: 8vw;
  }
  .attention-1 {
    font-size: 2.93333vw;
  }
  .container-4 {
    height: 293.33333vw;
    border-top: 2px solid;
  }
  .lineup-text {
    font-size: 13.33333vw;
    text-align: center;
    padding-top: 13.33333vw;
    padding-bottom: 4vw;
  }
  .lineup-img-centerdiv {
    padding-left: 7.73333vw;
  }
  .lineup-img-div {
    width: 82.66667vw;
    height: 77.33333vw;
    padding-top: 2.4vw;
    border: 1px solid #474747;
    text-align: center;
  }
  .lineup-img {
    width: 47.2vw;
  }
  .lineup-img-set {
    height: 66.66667vw;
    margin: 0 auto;
  }
  .img-text-div {
    text-align: right;
    margin-top: -2.66667vw;
    padding-right: 1.86667vw;
  }
  .img-text {
    font-size: 2.13333vw;
  }
  .product-div-center {
    padding-left: 8vw;
    padding-bottom: 8vw;
  }
  .product-div {
    width: 82.66667vw;
    padding-bottom: 5.33333vw;
  }
  .product-name-div {
    padding-top: 9.33333vw;
  }
  .product-price-div {
    padding-top: 9.33333vw;
  }
  .product-name {
    font-size: 4.8vw;
  }
  .product-price {
    font-size: 4.26667vw;
    color: #707070;
  }
  .select-right.right {
    margin-left: 199px;
  }
  .cp_ipselect.left {
    width: 100%;
  }
  .cp_ipselect.right {
    width: 145px;
    margin-left: 165px;
    margin-top: -9.86667vw;
  }
  .cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
  }
  .cp_ipselect select::-ms-expand {
    display: none;
  }
  .cp_ipselect.cp_sl01 {
    position: relative;
    border: 1px solid #707070;
    border-radius: 7px;
    background: #ffffff;
  }
  .cp_ipselect.cp_sl01::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #707070;
    pointer-events: none;
  }
  .cp_ipselect.cp_sl01 select {
    padding: 8px 38px 8px 8px;
    color: #383838;
  }
  .cp_ipselect.cp_sl01.right select {
    font-size: 3.2vw;
  }
  .cp_ipselect.cp_sl01.left select {
    font-size: 4.26667vw;
  }
  .sele-h2-div {
    border-top: 1px solid #000;
  }
  .sele-h2 {
    font-size: 9.33333vw;
    text-align: center;
    padding-top: 10.66667vw;
    padding-bottom: 8vw;
  }
  .att-div {
    margin-top: 2.66667vw;
  }
  .follow {
    color: #1486f1;
  }
  .tyokuhan-div {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: 2.66667vw;
  }
  .setumei-text {
    font-size: 26.66667vw;
  }
  .sele {
    display: inline-block;
    font-size: 4.8vw;
    color: #fff;
    text-align: center;
    background-color: #313131;
    width: 82.66667vw;
    padding: 8px 0;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px #9b9b9b;
            box-shadow: 2px 2px 4px #9b9b9b;
  }
  .sele-color {
    display: inline-block;
    font-size: 4.8vw;
    color: white;
    text-align: center;
    background-color: #00acee;
    width: 82.66667vw;
    padding: 8px 0;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px #9b9b9b;
            box-shadow: 2px 2px 4px #9b9b9b;
  }
  .attention-div {
    border-top: 1px solid #000;
    font-size: 6.13333vw;
    height: 173.33333vw;
  }
  .attention-text-div {
    padding-top: 5.6vw;
  }
  .attention-text {
    text-align: center;
  }
  .attention-text-div-1 {
    width: 80vw;
    height: 106.66667vw;
    border: 1px solid #000;
    margin-top: 16vw;
    margin-left: 7.73333vw;
  }
  .container.sb {
    width: 100%;
    height: 220.8vw;
  }
  .container {
    width: 100vw;
  }
  .main-back {
    width: 100%;
  }
  .bottom-text {
    height: 26.66667vw;
    padding-top: 26.66667vw;
    text-align: center;
  }
  .bottomText {
    font-size: 8.8vw;
  }
  .binbou-sp {
    padding-left: 2.66667vw;
    width: 95.46667vw;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "MyFont";
}

* {
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=style-sp.css.map */