$viewport: 1920; // 基準となるビューポート

@function pxtovw($num, $width: $viewport) {
  @return (1vw * $num / $width * 100);
}

@media screen and(min-width: 481px) {
  .sp {
    display: none !important;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  /* 各画像の大きさ指定 */
  img {
    vertical-align: bottom;
  }
  img.creaker {
    width: auto;
    height: pxtovw(450);
  }
  img.background-img {
    height: auto;
  }
  .binbou {
    width: pxtovw(635);
    height: auto;
  }

  .container {
    width: 100vw;
    max-width: 1920px;
    padding: 0;
    margin: 0;
  }

  /* ヘッダー */
  header {
    width: 100%;
    height: pxtovw(100);
    min-height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    position: relative;
    border-bottom: rgb(66, 66, 66);
  }
  header > .container-header {
    width: 100%;
    height: 100%;
    position: relative;
    border-bottom: rgb(66, 66, 66);
  }
  .head-logo {
    width: 133px;
    height: 69px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 35px;
  }
  .img-logo {
    width: 133px;
    height: auto;
  }

  /* クラッカーのコンテナ */
  .container.top {
    display: flex;
    max-width: 100%;
  }

  .left-cracer-container {
    position: relative;
  }
  .cracer-img-1 {
    position: absolute;
    top: pxtovw(489);
  }
  .cracer-img-2 {
    position: absolute;
    top: pxtovw(489);
  }
  .cracer-img-3 {
    position: absolute;
    top: pxtovw(489);
  }

  .right-cracer-container {
    position: relative;
  }
  .right-cracer-img-1 {
    position: absolute;
    top: pxtovw(489);
    left: pxtovw(1284);
  }
  .right-cracer-img-2 {
    position: absolute;
    top: pxtovw(489);
    left: pxtovw(1284);
  }
  .right-cracer-img-3 {
    position: absolute;
    top: pxtovw(489);
    left: pxtovw(1284);
  }

  /* トップの文字 */
  .Text-container {
    width: pxtovw(770);
    height: pxtovw(970);
    margin: 0 auto;
  }
  .sab-text {
    text-align: center;
    padding-top: pxtovw(232);
    padding-bottom: pxtovw(121);
  }
  .main-text {
    text-align: center;
  }
  .sabText {
    font-size: pxtovw(60);
  }
  .mainText {
    font-size: pxtovw(153);
  }

  /* メイン画像画面 */
  .container.main {
    width: 100vw;
    height: pxtovw(2360);
    position: relative;
  }
  .main-img-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .main-img-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }

  /* 一番下文字と貧乏ちゃん */
  .bottom-text {
    margin: 0 auto;
    width: pxtovw(900);
    height: pxtovw(269);
  }
  .bottomText {
    font-size: pxtovw(98);
  }

  .bottom-img {
    text-align: center;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "MyFont";
}
* {
  margin: 0;
  padding: 0;
}
