@use "sass:math";

$viewport: 375; // 基準となるビューポート

@function pxtovw($num, $width: $viewport) {
  @return (math.div(1vw * $num, $width) * 100);
}
@media screen and(max-width: 480px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }

  a {
    color: #000;
    text-decoration: none;
  }
  h2,
  h3,
  span,
  a {
    font-family: "ヒラギノ丸ゴ ProN";
  }
  ul li:nth-of-type(n + 2) {
    display: none;
    list-style: none;
  }
  li {
    list-style: none;
  }

  //ヘッダー
  .container-header {
    height: pxtovw(60);
    width: 100%;
    position: relative;
  }
  .head-logo {
    width: pxtovw(120);
    height: auto;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  .s-logo {
    width: pxtovw(100);
  }

  //クラッカー部分
  .container-cracker-sp {
    width: 100%;
    height: pxtovw(500);
    position: relative;
  }
  //青クラッカー
  .right-cracer-img-sp {
    position: relative;
    width: 100%;
  }
  .creaker-blue.sp {
    padding-top: pxtovw(20);
    position: absolute;
    padding-left: pxtovw(255);
    text-align: right;
    width: pxtovw(120);
  }

  //赤クラッカー
  .cracer-img-sp {
    width: pxtovw(179);
  }
  .crekaer-red.sp {
    padding-top: pxtovw(20);
    width: pxtovw(120);
  }
  // テキスト

  .sab2-text {
    text-align: center;
    font-size: pxtovw(35);
    padding-top: pxtovw(40);
  }
  .sab-text {
    text-align: center;
    padding-top: pxtovw(20);
  }
  .main-text {
    text-align: center;
    padding-top: pxtovw(17);
  }
  .sab-text {
    font-size: pxtovw(21);
  }
  .main-text {
    font-size: pxtovw(68);
  }
  // ボタン
  .sele-div {
    padding-top: pxtovw(24);
  }
  .reservation-button {
    padding-top: pxtovw(60);
    padding-bottom: pxtovw(30);
    padding-left: pxtovw(43);
  }

  //ボタンコピペ
  .select-div {
    padding-top: pxtovw(24);
  }
  .btn {
    width: pxtovw(270);
    font-size: pxtovw(24);
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 0 10px;
    background-color: #a9f3ff;
    border-radius: 25px;
    box-shadow: 4px 4px rgb(47, 61, 94);
  }
  //受注期間項目
  .container-3-class {
    height: pxtovw(550);
    border-top: 1px solid #000;
  }
  .orders-color {
    color: #707070;
  }
  .orders-received {
    font-size: pxtovw(50);
    text-align: center;
    padding-top: pxtovw(40);
  }
  .order-day-1 {
    font-size: pxtovw(50);
    padding-top: pxtovw(50);
    padding-left: pxtovw(37);
  }
  .order-day-2 {
    font-size: pxtovw(50);
    padding-top: pxtovw(35);
    padding-left: pxtovw(127);
  }
  .order-day-3 {
    font-size: pxtovw(30);
    padding-left: pxtovw(127);
  }
  .attention-text-1 {
    width: pxtovw(231);
    padding-left: pxtovw(72);
    padding-top: pxtovw(30);
  }
  .attention-1 {
    font-size: pxtovw(11);
  }

  // ラインナップ
  .container-4 {
    height: pxtovw(1100);
    border-top: 2px solid;
  }
  .lineup-text {
    font-size: pxtovw(50);
    text-align: center;
    padding-top: pxtovw(50);
    padding-bottom: pxtovw(15);
  }
  //ラインナップ中画像
  .lineup-img-centerdiv {
    padding-left: pxtovw(29);
  }
  .lineup-img-div {
    width: pxtovw(310);
    height: pxtovw(290);
    padding-top: pxtovw(9);
    border: 1px solid rgb(71, 71, 71);
    text-align: center;
  }
  .lineup-img {
    width: pxtovw(177);
  }
  .lineup-img-set {
    height: pxtovw(250);
    margin: 0 auto;
  }
  .img-text-div {
    text-align: right;
    margin-top: pxtovw(-10);
    padding-right: pxtovw(7);
  }
  .img-text {
    font-size: pxtovw(8);
  }
  //商品説明
  .product-div-center {
    padding-left: pxtovw(30);
    padding-bottom: pxtovw(30);
  }
  .product-div {
    width: pxtovw(310);
    padding-bottom: pxtovw(20);
  }
  .product-name-div {
    padding-top: pxtovw(35);
  }
  .product-price-div {
    padding-top: pxtovw(35);
  }
  .product-name {
    font-size: pxtovw(18);
  }
  .product-price {
    font-size: pxtovw(16);
    color: #707070;
  }

  //セレクトボタン
  .select-right.right {
    margin-left: 199px;
  }
  .cp_ipselect.left {
    width: 100%;
  }
  .cp_ipselect.right {
    width: 145px;
    margin-left: 165px;
    margin-top: pxtovw(-37);
  }
  .cp_ipselect select {
    width: 100%;
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;
  }
  .cp_ipselect select::-ms-expand {
    display: none;
  }
  .cp_ipselect.cp_sl01 {
    position: relative;
    border: 1px solid #707070;
    border-radius: 7px;
    background: #ffffff;
  }
  .cp_ipselect.cp_sl01::before {
    position: absolute;
    top: 0.8em;
    right: 0.9em;
    width: 0;
    height: 0;
    padding: 0;
    content: "";
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #707070;
    pointer-events: none;
  }
  .cp_ipselect.cp_sl01 select {
    padding: 8px 38px 8px 8px;
    color: #383838;
  }
  .cp_ipselect.cp_sl01.right select {
    font-size: pxtovw(12);
  }
  .cp_ipselect.cp_sl01.left select {
    font-size: pxtovw(16);
  }
  //販売はこちら
  .sele-h2-div {
    border-top: 1px solid #000;
  }
  .sele-h2 {
    font-size: pxtovw(35);
    text-align: center;
    padding-top: pxtovw(40);
    padding-bottom: pxtovw(30);
  }
  .att-div {
    margin-top: pxtovw(10);
  }
  .follow {
    color: rgb(20, 134, 241);
  }
  //直販ボタン
  .tyokuhan-div {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin-top: pxtovw(10);
  }
  .setumei-text {
    font-size: pxtovw(100);
  }
  .sele {
    display: inline-block;
    font-size: pxtovw(18);
    color: #fff;
    text-align: center;
    background-color: #313131;
    width: pxtovw(310);
    padding: 8px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(155, 155, 155);
  }
  .sele-color {
    display: inline-block;
    font-size: pxtovw(18);
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: #00acee;
    width: pxtovw(310);
    padding: 8px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(155, 155, 155);
  }

  //注意点
  .attention-div {
    border-top: 1px solid #000;
    font-size: pxtovw(23);
    height: pxtovw(650);
  }
  .attention-text-div {
    padding-top: pxtovw(21);
  }
  .attention-text {
    text-align: center;
  }
  .attention-text-div-1 {
    width: pxtovw(300);
    height: pxtovw(400);
    border: 1px solid #000;
    margin-top: pxtovw(60);
    margin-left: pxtovw(29);
  }

  .container.sb {
    width: 100%;
    height: pxtovw(828);
  }
  .container {
    width: 100vw;
  }
  .main-back {
    width: 100%;
  }
  .bottom-text {
    height: pxtovw(100);
    padding-top: pxtovw(100);
    text-align: center;
  }
  .bottomText {
    font-size: pxtovw(33);
  }
  .binbou-sp {
    padding-left: pxtovw(10);
    width: pxtovw(358);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "MyFont";
}
* {
  margin: 0;
  padding: 0;
}
